.div-header {
    height: 5rem;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
}

/* Imagen del encabezado */
.div-header img {
    height: 3.5rem;
    width: auto;
}
